<main class="devise-form form-edit-registration m-auto">
  <%= simple_form_for(resource,
                      as: resource_name,
                      url: registration_path(resource_name),
                      html: { method: :put }) do |f| %>
    <div class="h1 mb-3 fw-normal">Edit <%= resource_name.to_s.humanize %></div>

    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "btn btn-primary" %>
    </div>
  <% end %>
</main>

<main class="devise-form form-cancel-registration w-100 m-auto">
  <div class="h3 mb-3 fw-normal">Cancel my account</div>

  <div>Unhappy? <%= button_to "Cancel my account",
                              registration_path(resource_name),
                              method: :delete,
                              class: "btn btn-danger",
                              data: {
                                confirm: "Are you sure?",
                                turbo_confirm: "Are you sure?"
                              }

                %>
  </div>

  <div class="help-links">
    <%= link_to "Back", :back %>
  </div>
</main>
