<div data-controller="zip-code">
  <main class="devise-form form-store-new">
    <%= simple_form_for(store, wrapper: :horizontal_form) do |f| %>
      <div class="h1 mb-3 fw-normal"><%= header_text %></div>

      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :store_name,
                  label: "Name",
                  autofocus: true
      %>
      <%= f.input :address,
                  label: "Address"
      %>
      <%= f.input :address2,
                  label: "Address 2"
      %>
      <%= f.input :zip_code,
                  required: true,
                  input_html: {
                    data: {
                      "zip-code-target": "zipCode",
                      action: "blur->zip-code#fetchCityAndStateFromZipCode"
                    }
                  }
      %>
      <%= f.input :city,
                  input_html: {
                    data: {
                      "zip-code-target": "city"
                    }
                  }
      %>
      <%= f.association :state,
                        wrapper: :horizontal_form,
                        label_method: lambda { |state|
                          "#{state.state_name} (#{state.postal_abbreviation})"
                        },
                        prompt: "Select a state",
                        input_html: {
                          data: {
                            "zip-code-target": "state"
                          }
                        }
      %>

      <div class="form-actions">
        <%= f.button :submit,
                     class: "btn btn-primary",
                     data: {
                      "zip-code-target": "submitButton"
                     }
        %>
      </div>
    <% end %>

    <div class="help-links">
      <%= link_to "Back", back_path %>
    </div>
  </main>
</div>
