<tr id="<%= dom_id store %>" >
  <th scope="row"><%= store_counter + 1 %></th>
  <td><%= store.store_name %></th>
  <td><%= store.address_with_address2 %></th>
  <td><%= store.city %></th>
  <td><%= store.state.postal_abbreviation %></th>
  <td><%= store.zip_code %></th>
  <td>
    <% if store.user_store? %>
      <span class="badge text-bg-success">
        <i class="bi bi-check-circle-fill"></i>
        Already added
      </span>
    <% elsif mode == :add %>
      <%= simple_form_for :store, url: add_create_stores_path, method: :post do |f| %>
        <%= f.input :store_id, as: :hidden, input_html: { value: store.id } %>
        <button type="submit" class="btn btn-outline-primary btn-sm">
          <i class="bi bi-building-fill-add"></i> Add
        </button>
      <% end %>
    <% else %>
      <%= link_to store_path(store), class: "btn btn-outline-primary btn-sm" do %>
        <i class="bi bi-eye-fill"></i> View
      <% end %>
    <% end %>
  </td>
</tr>
