<div id="<%= dom_id store %>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Street 1:</strong>
    <%= store.street1 %>
  </p>

  <p>
    <strong>Street 2:</strong>
    <%= store.street2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= store.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= store.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= store.zip_code %>
  </p>

</div>
