<%
create_a_user_shopping_list_button_text = "Create a shopping list"
%>
<main class="form form-shopping-list m-auto">
  <div data-controller="filter">
    <div class="h1 mb-3 fw-normal"><i class="bi bi-journal-text"></i> Shopping Lists</div>
    <%= render partial: "user_shopping_lists", object: @user_shopping_lists, locals: { pager_params: @pager_params } %>
  </div>
  <% unless @user_shopping_lists.any? %>
  <div>
    There are currently no shopping lists.
    You can add one by clicking the
    <strong>
      <i class="bi bi-journal-journal-plus"></i> <%= create_a_user_shopping_list_button_text %>
    </strong>
    button below.
  </div>
  <% end %>
</main>

<%= render partial: "shared/pager", object: @pager_params %>

<div class="help-links">
  <%= link_to new_user_shopping_list_path, class: "btn btn-primary" do %>
    <i class="bi bi-journal-plus"></i> <%= create_a_user_shopping_list_button_text %>
  <% end %>
</div>
