<main class="devise-form form-forgot-password m-auto">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="h2 mb-3 fw-normal">Forgot your password?</div>

    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="help-links">
    <%= render "devise/shared/links" %>
  <div>
</main>
