<% if pager %>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item <%= pager.previous_page_css %>">
        <%= link_to "Previous", paged_items_path(page: pager.prev_page), class: "page-link" %>
      </li>
      <% pager.pages_between_range.each do |page| %>
        <li class="page-item">
           <%= link_to page, paged_items_path(page: page), class: "page-link" %>
        </li>
      <% end %>
      <li class="page-item <%= pager.next_page_css %>">
        <%= link_to "Next", paged_items_path(page: pager.next_page), class: "page-link" %>
      </li>
    </ul>
  </nav>
<% end %>
