<tr id="<%= dom_id store %>" >
  <th scope="row"><%= store_counter + 1 %></th>
  <td><%= store.store_name %></th>
  <td><%= store.address_with_address2 %></th>
  <td><%= store.city %></th>
  <td><%= store.state.postal_abbreviation %></th>
  <td><%= store.zip_code %></th>
  <td>
    <% if mode == :add %>
      <%= simple_form_for store, url: user_stores_path, method: :post do |f| %>
        <%= f.input :store_id, as: :hidden, input_html: { value: store.id } %>
        <button type="submit" class="btn btn-outline-primary btn-sm">
          <i class="bi bi-building-fill-check"></i> Add
        </button>
      <% end %>
    <% elsif mode == :list %>
      <%= link_to user_store_path(store), class: "btn btn-outline-primary btn-sm" do %>
        <i class="bi bi-eye-fill"></i> View
      <% end %>
      <%= link_to user_store_path(store), method: :delete, class: "btn btn-outline-danger btn-sm" do %>
        <i class="bi bi-trash-fill"></i> Remove
      <% end %>
    <% end %>
  </td>
</tr>
