<div id="<%= dom_id shopping_list %>">
  <p>
    <strong>Shopping list name:</strong>
    <%= shopping_list.shopping_list_name %>
  </p>

  <p>
    <strong>Week of:</strong>
    <%= shopping_list.week_of %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= shopping_list.notes %>
  </p>

  <p>
    <strong>Template:</strong>
    <%= shopping_list.template %>
  </p>

</div>
