<table class="shopping-lists table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Week of</th>
      <th scope="col" class="text-center">Type</th>
      <th scope="col">Notes</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody data-target="filter">
    <% shopping_lists.presenters.each_with_index do |shopping_list, index| %>
      <tr id="<%= dom_id shopping_list %>" >
        <th scope="row"><%= pager_params.page_offset + index + 1 %></th>
        <td><%= shopping_list.display_name %></td>
        <td><%= shopping_list.display_week_of %></td>
        <td class="text-center"><%= shopping_list.display_type %></td>
        <td><%= shopping_list.notes %></td>
        <td>
          <div class="fixed-width-buttons d-flex justify-content-center">
            <%= form_tag edit_shopping_list_path(shopping_list), method: :get  do |f| %>
              <%= button_tag(type: :submit, class: "btn btn-outline-primary btn-sm ms-1") do %>
                <i class="bi bi-journal-text"></i> Edit
              <% end %>
            <% end %>
            <%= form_tag shopping_list_path(shopping_list), method: :get  do |f| %>
              <%= button_tag(type: :submit, class: "btn btn-outline-primary btn-sm ms-1") do %>
                <i class="bi bi-journal-bookmark-fill"></i> View
              <% end %>
            <% end %>
            <%= form_tag shopping_list_path(shopping_list), method: :delete do |f| %>
              <%= button_tag(type: :submit, class: "btn btn-outline-danger btn-sm ms-1") do %>
                <i class="bi bi-trash-fill"></i> Delete
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
