<!DOCTYPE html>
<html>
  <head>
    <title>Foodme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div data-controller="nav-bar">
      <%= render partial: 'shared/nav_bar' %>
    </div>
    <%= render partial: 'shared/flash' %>

    <div class="body">
      <%= yield :main_content %>
    </div>

    <%= render partial: "shared/debug" if debug? %>
  </body>
</html>
