<!DOCTYPE html>
<html>
  <head>
    <title>Foodme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%# <turbo-frame id="main" target="_top"> %>
      <%#= turbo_frame_tag "nav-bar", src: "shared/nav_bar" %>
      <div data-controller="nav-bar">
        <%= render partial: 'shared/nav_bar' %>
        <%#= turbo_frame_tag "nav-bar", src: "shared/nav_bar" %>
      </div>
      <%= render partial: 'shared/flash' %>
      <div class="body">
        <%= yield %>
      </div>
    <%# </turbo-frame> %>
  </body>
</html>
